* {
    padding: 0;
    margin: 0;

}

a.donetButton {
    text-decoration: none;
    color: white;
    padding: 12px 30px;
    background: tomato;
    border-radius: 6px;
}

.head-text-box h2 {
    font-size: 64px;
}

.head-text-box {
    text-align: center;
    width: 825px;
    height: 331px;
    position: absolute;
    margin: 170px 400px;
}

.head-text-box p {
    padding: 30px;
    font-size: 18px;
}

.headsec {
    background-image: url('images/donation13.jpg');
    position: relative;
    width: 100%;
    height: 669px;
    background-repeat: repeat;
    background-size: cover;
    color: #fff;
}

.head-gredient {
    background-image: linear-gradient(to bottom, #00000045, #000000);
    position: absolute;
    height: 669px;
    width: 100%;
}